table {
    /* width: 100%; */
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th{
    font-size: larger;
}

#feed-data-table{
    height: 50px;
}

#table-div{
    padding: 5px;
    overflow-x: scroll;
}

.mat-elevation-z8{
    /* width: max-content; */
    width: 100%;
}

#feed-url-display-table{
    width: 100%;
}

#table-div::-webkit-scrollbar{
    display: none;
}



  