#main-div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 20px 40px;


}

#table-component{
    grid-column: 1/5;
    grid-row: 1;
}

#list-component{
    grid-column: 3/5;
    grid-row: 1;
}

#form-component{
    grid-column: 5/5;
    grid-row: 1;
}